/* src/App.css */
/* @import "./components/ContentGrid.css"; */
body {
  margin: 0;
  padding: 0;
}

.app-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
}

.left-panel {
  background-color: #f0f0f0;
  border-right: 2px solid #ccc;
  padding: 10px;
  overflow-y: auto;
}

.left-panel h2 {
  margin-bottom: 10px;
}

.left-panel ul {
  list-style: none;
  padding: 0;
}

.left-panel li {
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.left-panel li:hover {
  background-color: #f9f9f9;
}

.header {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

.center-panel {
  display: flex;
  flex-direction: column;
}

/* Update the .book-container styles to use flexbox */
.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  perspective: 1000px;
  margin: 10px;
}

/* Update the .pages styles to use flexbox and make it take the full width */
.pages {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Update the .page styles to use flexbox and make it take the full width */
.page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 2px solid #ccc;
  padding: 16px;
  transform-origin: left;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s;
  z-index: 2;
}

/* Update the .page-content styles to take full width and height of .page */
.page-content {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

/* src/App.css */
/* ... (existing styles) */

/* Add new styles for the footer and navigation */
.footer {
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  justify-content: space-between; /* Align items to the right corner */
  align-items: center; /* Align items vertically centered */
}

.navigation {
  display: flex;
  align-items: center;
  flex: 1; /* Allow the navigation to take up the remaining space */
  justify-content: flex-end; /* Align navigation items to the right */
}

.navigation button {
  margin: 0 5px;
}

.copy-right {
  align-items: center;
}
